body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

#rps-list {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.rps-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: red;
    transition: all 0.25s;
    font-size: 1rem;
    font-weight: 300;
    border: 0.2rem solid red;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    height: 8rem;
    width: 8rem;
}

.rps-button:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);
}

.rps-button:active {
    background-color: red;
    color: white;
    transform: translateY(5px);
}

#game-info {
    width: 500px;
}